.aura-hero {
    padding-top: 5rem;
    height: 100vh;
    overflow: hidden;
}

.aura-hero-slider {
    height: 100vh;
    position: relative;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scrollbar-width: none;
    transition: transform 1s ease;

}

.aura-hero-box {
    position: relative;
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
}

.aura-hero-box video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.5);
}

.aura-content {
    padding: 0.5rem;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff;
    top: 30%;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.8s ease;
}

.aura-content.show {
    opacity: 1;
    transform: translateY(0);
}

.aura-content h1 {
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
    background: linear-gradient(70deg, #c79f9f 40%, #FFD8D8 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aura-hero-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.aura-content button {
    margin-top: 0.7rem;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border: 2px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
    border-radius: 8px;
    transition: 0.3s ease;
}

.aura-chip {
    padding: 1rem 0;
    background-image: url(image/chip.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(1px);
    width: 100%;
    height: 100%;
}

.aura-chip::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(24, 25, 26, 0.75);
    pointer-events: none;
}

.aura-chip-container {
    z-index: 1;
    color: #fff;
    text-align: center;
    position: relative;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.aura-chip-container h1 {
    font-size: 6rem;
    padding-bottom: 1rem;
    text-shadow: 0 0 24px #fff7e6, 0 0 48px #ffb86b, 0 2px 12px #ff7e5f, 0 0 8px #ffd8a8, 0 0 2px #ffb86b;
}

.aura-chip-container h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-shadow: 0 2px 8px #000, 0 0 2px #000;
}

.aura-chip-container p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.aura-tools {
    padding-top: 4rem;
}

.aura-tools-head {
    text-align: left;
    padding: 1rem;
}

.aura-tools-head h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.aura-tools-container {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.aura-tools-box {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: start;
    position: relative;
    width: 100%;
    height: 70vh;
    min-width: 90vw;
}

.aura-tools-box video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    border-radius: 40px;
    padding: 0.4rem;
    filter: brightness(0.7);
}

.aura-tool-box-content {
    position: relative;
    z-index: 2;
    color: #fff;
    padding: 1rem;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    transform: translateX(20px);
    transition: all 0.8s ease;
}

.aura-tool-box-content.showed {
    opacity: 1;
    transform: translateX(0);
}

@media screen and (min-width:600px) {
    .aura-content h1 {
        font-size: 5rem;
    }

    .aura-content p {
        max-width: 600px;
        margin: 0 auto;
    }

    .aura-chip {
        width: 100%;
        height: 100vh;
    }

}

@media screen and (min-width:900px) {
    .aura-tools-box {
        width: 100%;
        height: 100vh;
    }

    .aura-tool-box-content h3 {
        font-size: 2.5rem;
        max-width: 700px;
        font-weight: 500;
    }

    .aura-tools-head h2 {
        font-size: 2.5rem;
        font-weight: 500;
    }
}