.career-hero {
    padding: 7rem 0;
    background-image: url(images/career.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(2px);
    position: relative;
}

.career-hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(24, 25, 26, 0.75);
}

.career-content {
    position: relative;
    padding: 2rem 1rem;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.career-content h2 {
    font-size: 2.5rem;
    font-family: "Caprasimo", serif;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.career-content p {
    font-size: 1rem;
    text-align: left;
}

.career-content button {
    margin-top: 0.7rem;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border: 2px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
    border-radius: 8px;
    transition: 0.3s ease;
}

.career-content button:hover {
    background: var(--primary-color);
    color: #000;
    box-shadow: 0 4px 16px rgba(86, 85, 84, 0.12);
    transition: background 0.3s ease, color 0.3s ease;
}

.search {
    padding-top: 2rem;
}

.search-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-content h2 {
    font-size: 1.8rem;
    padding-bottom: 1rem;
}

.search-content input {
    width: 100%;
    max-width: 1400px;
    padding: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    font-size: 1rem;
    border-radius: 30px;
}

.search-content input:focus {
    outline: none;
    border-color: var(--primary-color);
}

.search-content input::placeholder {
    font-size: 1rem;
    letter-spacing: 2px;
}

.Feature-Team {
    padding-top: 3rem;
}

.feature-Team-head {
    text-align: center;
    padding: 1rem;
}

.feature-Team-head h3 {
    font-size: 0.9rem;
}

.feature-Team-head h2 {
    padding-bottom: 1rem;
    font-size: 2rem;
    font-weight: 500;
}

.feature-Team-head p {
    max-width: 600px;
    margin: 0 auto;
}

.feature-team-container {
    gap: 1rem;
    padding: 1rem;
}

.feature-team-box {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding-bottom: 2rem;
}

.feature-team-box img {
    border-radius: 30px;
}

.feature-team-text {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.feature-team-text h3 {
    font-size: 1rem;
}

.feature-team-text h2 {
    font-size: 1.3rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
}

.feature-team-text p {
    text-align: left;
}

.feature-team-text button {
    margin-top: 0.7rem;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    background: none;
    color: var(--text-color);
    font-size: 19px;
}

.career-video {
    padding-top: 3rem;
}

.career-video-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.career-video-wrapper {
    position: relative;
    width: 90%;
    max-width: 600px;
    aspect-ratio: 28/16;
    border-radius: 30px;
    overflow: hidden;
}

.career-video-wrapper video {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
}

.career-video-content {
    padding: 3rem 1.5rem;
}

.career-video-content h2 {
    font-size: 1.3rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
}

.career-video-content p {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    text-align: left;
}

.career-event {
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.career-event-head {
    text-align: center;
    padding: 0rem 0.6rem;
    max-width: 600px;
    margin: 0 auto;
}

.career-event-head h2 {
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.career-event-head p {
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

.career-event-container {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.event-card {
    padding-top: 1rem;
}

.event-card img {
    width: 100%;
    width: 350px;
    border-radius: 20px;
}

.event-text button {
    margin-top: 0.7rem;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    background: none;
    color: var(--text-color);
    font-size: 19px;
}

.career-future {
    background-image: url(image/current.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(2px);
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 1rem 0;
}

.career-future::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(24, 25, 26, 0.75);
}

.future-career {
    position: relative;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--primary-color);
}

.future-career h2 {
    font-size: 1.9rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    max-width: 600px;
}

.future-career p {
    font-size: 1rem;
    text-align: center;
    max-width: 500px;
}

.culture {
    padding-top: 2rem;
}

.culture-team {
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;
}

.culture-team img {
    border-radius: 30px;
}

.culture-text {
    padding-top: 1rem;
}

.culture-text h2 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
}

.culture-text p {
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

.culture-team button {
    margin-top: 0.7rem;
    padding: 0.75rem 1.5rem;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    background: var(--text-color);
    color: var(--background-color);
    font-size: 19px;
}



@media screen and (min-width:600px) {
    .career-content {
        max-width: 600px;
        height: 100%;
    }

    .career-hero {
        height: 100vh;
    }

    .search-content h2 {
        font-size: 2.8rem;
        padding-bottom: 1rem;
    }

    .search-content input::placeholder {
        font-size: 1.3rem;
        letter-spacing: 2px;
    }

    .feature-Team-head h2 {
        padding-bottom: 1rem;
        font-size: 3.4rem;
    }

    .Feature-Team {
        padding-top: 7rem;
    }

    .career-video-wrapper {
        position: relative;
        width: 90%;
        max-width: 1250px;
        aspect-ratio: 28/16;
        border-radius: 30px;
        overflow: hidden;
    }

    .career-video-content {
        padding: 3rem 3rem;
        max-width: 700px;
    }

    .career-video-content h2 {
        font-size: 1.5rem;
        font-weight: 600;
        padding-bottom: 0.5rem;
    }

    .event-card img {
        width: 100%;
        width: 400px;
        border-radius: 20px;
    }

    .career-future {
        background-image: url(image/Vr-desktop.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        backdrop-filter: blur(2px);
        position: relative;
        width: 100%;
        height: 100vh;
        padding: 1rem 0;
    }

    .future-career h2 {
        font-size: 3.2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
        max-width: 600px;
    }
}

@media screen and (min-width:1030px) {
    .feature-team-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        max-width: 1420px;
        margin: 0 auto;
    }

    .career-video-wrapper {
        position: relative;
        width: 90%;
        max-width: 1350px;
        aspect-ratio: 28/14;
        border-radius: 30px;
        overflow: hidden;
    }

    .career-video-content {
        padding: 3rem 5rem;
        max-width: 900px;
    }

    .career-video-content h2 {
        font-size: 1.6rem;
        font-weight: 600;
        padding-bottom: 0.5rem;
    }

    .career-video-content p {
        font-size: 1.1rem;
    }

    .event-card img {
        width: 100%;
        width: 450px;
        border-radius: 20px;
    }

    .culture {
        padding-top: 2rem;
    }

    .culture-team {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        max-width: 1300px;
        margin: 0 auto;
    }

    .culture-text {
        padding-top: 1rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 600px;
    }

    .culture-team button {
        width: auto;
        align-self: flex-start;
    }

    .culture-text h2 {
        font-size: 2rem;
        padding-bottom: 0.5rem;
        font-weight: 500;
        max-width: 600px;
    }

    .culture-text p {
        font-size: 1rem;
        padding-bottom: 0.5rem;
        max-width: 400px;
    }
}