.hero-cloudnai {
    padding-top: 7rem;
    max-width: 700px;
    background: var(--header-bg-scrolled);
}

.cloudnai-hero-text {
    padding: 1rem;
}

.cloudnai-hero-text h2 {
    font-size: 2.1rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

.cloudnai-hero-text h3 {
    font-size: 1.7rem;
    font-weight: 400;
}

.button-lock {
    padding-top: 1rem;
}

.button-lock button {
    margin: 1em 0.4em;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    background: var(--temp-color);
    color: #000;
    transition: 0.3s;
}

.hero-cloudnai img {
    padding: 1rem;
}

.desk-vers {
    display: none;
}

.mobile-vers {
    display: block;
}

/* Platform */
.hero-cloudnai-platform {
    padding-top: 3rem;
}

.hero-cloudnai-plat-head {
    text-align: center;
}

.hero-cloudnai-plat-head h3 {
    font-weight: 400;
    font-size: 1rem;
    color: var(--span-text-color);
}

.hero-cloudnai-plat-head h1 {
    padding-top: 1.5rem;
}

.hero-cloudnai-plat-head h1,
h2 {
    font-size: 2rem;
    font-weight: 400;
}

.hero-cloudnai-plat-head p {
    padding: 1rem;
    color: var(--span-text-color);
}

.hero-cloudnai-plat-container {
    display: grid;
    padding: 1rem;
    margin-top: 3rem;
}

.plat-container-box {
    padding-bottom: 3.3em;
    max-width: 500px;
}

.plat-box-img {
    width: 50px;
}

.plat-box-text {
    padding-top: 1rem;
}

.plat-box-text h2 {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.hero-plat-button-container {
    text-align: center;
}

.hero-plat-button-container button {
    margin: 1em 1em;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    background: var(--temp-color);
    color: #000;
    transition: 0.3s;
}

.find-button {
    background: transparent;
    display: block;
    transition: 0.3s;
}

.find-button:hover {
    color: var(--span-text-color);
    transition: 0.3s;
}

@media screen and (min-width:780px) {
    .desk-vers {
        display: block;
    }

    .mobile-vers {
        display: none;
    }

    .hero-cloudnai {
        padding-top: 7rem;
        max-width: 1300px;
        display: flex;
    }

    .cloudnai-hero-text {
        width: 60%;
    }

    .hero-cloud-images {
        width: 40%;
    }

    .hero-cloud-images img {
        padding: 3rem 1rem;
    }

    .cloudnai-hero-text h2 {
        font-size: 3rem;
        font-weight: 500;
        padding-bottom: 1rem;
    }

    .cloudnai-hero-text h3 {
        font-size: 1.7rem;
        font-weight: 400;
    }

    .hero-cloudnai-plat-head h1 {
        padding-top: 1.3rem;
    }

    .hero-cloudnai-plat-head h1,
    h2 {
        font-size: 2.5rem;
        font-weight: 500;
    }

    .hero-cloudnai-plat-container {
        display: grid;
        padding: 1rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .find-button {
        background: transparent;
        display: inline-block;
        transition: 0.3s;
    }
}

@media screen and (min-width:1180px) {
    .hero-cloudnai {
        padding-top: 5rem;
        max-width: none;
        display: flex;
    }

    .cloudnai-hero-text {
        padding: 3rem 1rem;
    }

    .cloudnai-hero-text h2 {
        font-size: 5.5rem;
        font-weight: 500;
        padding-bottom: 1rem;
    }

    .cloudnai-hero-text h3 {
        font-size: 1.7rem;
        font-weight: 400;
    }

    .hero-cloud-images img {
        padding: 3rem 2rem;
        width: 90%;
    }

    .cloudnai-hero-text {
        width: 60%;
    }

    .hero-cloud-images {
        width: 40%;
    }

    .hero-cloudnai-plat-container {
        display: grid;
        padding: 1rem;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }
}